.icon-0:before { content: $tornado; }
.icon-1:before { content: $day-storm-showers; }
.icon-2:before { content: $hurricane; }
.icon-3:before { content: $thunderstorm; }
.icon-4:before { content: $thunderstorm; }
.icon-5:before { content: $rain-mix; }
.icon-6:before { content: $rain-mix; }
.icon-7:before { content: $rain-mix; }
.icon-8:before { content: $hail; }
.icon-9:before { content: $showers; }
.icon-10:before { content: $hail; }
.icon-11:before { content: $showers; }
.icon-12:before { content: $showers; }
.icon-13:before { content: $snow; }
.icon-14:before { content: $day-snow; }
.icon-15:before { content: $snow-wind; }
.icon-16:before { content: $snow; }
.icon-17:before { content: $hail; }
.icon-18:before { content: $rain-mix; }
.icon-19:before { content: $dust; }
.icon-20:before { content: $fog; }
.icon-21:before { content: $windy; }
.icon-22:before { content: $smoke; }
.icon-23:before { content: $strong-wind; }
.icon-24:before { content: $strong-wind; }
.icon-25:before { content: $snowflake-cold; }
.icon-26:before { content: $cloudy; }
.icon-27:before { content: $night-cloudy; }
.icon-28:before { content: $day-cloudy; }
.icon-29:before { content: $night-cloudy; }
.icon-30:before { content: $day-cloudy; }
.icon-31:before { content: $night-clear; }
.icon-32:before { content: $day-sunny; }
.icon-33:before { content: $night-partly-cloudy; }
.icon-34:before { content: $day-sunny-overcast; }
.icon-35:before { content: $rain-mix; }
.icon-36:before { content: $hot; }
.icon-37:before { content: $day-storm-showers; }
.icon-38:before { content: $day-storm-showers; }
.icon-39:before { content: $day-storm-showers; }
.icon-40:before { content: $showers; }
.icon-41:before { content: $snow-wind; }
.icon-42:before { content: $snow; }
.icon-43:before { content: $snow-wind; }
.icon-44:before { content: $day-sunny-overcast; }
.icon-45:before { content: $day-storm-showers; }
.icon-46:before { content: $snow; }
.icon-47:before { content: $day-storm-showers; }
.icon-3200:before { content: $stars; }