.mdl-dialog {
	position: relative;
	.mdl-dialog__title {
		font-size: 1em;
	    padding: .5em !important;
	    margin: 0;
	}
	.mdl-dialog__actions>* {
	    height: auto !important;
	}
	@media(min-width: $tablet) {
		width: 450px
	}
}

dialog::backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}