.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label {
  transform: translate3d(0, -20px, 0);
  visibility: hidden;
}
.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label:after {
    content: 'Password';
    visibility: visible;
    left: 0;
    transform: translate3d(0, -20px, 0);
    background: transparent;
    color: inherit;
    font-size: 12px;
    color: rgb(158,158,158);
}
.mdl-textfield {
    width: 100%;
}