.block {
  display: block; }

.inline-block {
  display: inline-block; }

.start-hidden,
.hidden {
  display: none; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

@media (max-width: 480px) {
  .hide-mobile {
    display: none !important; } }

@media (max-width: 767px) {
  .hide-tablet {
    display: none !important; } }

@media (max-width: 921px) {
  .hide-tablet-large {
    display: none !important; } }

.text-center-only {
  text-align: center; }

.text-center {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.left {
  float: left; }

.right {
  float: right; }

.full-span {
  width: 100%; }

.icons-inline {
  display: inline-block;
  vertical-align: -4px; }

.text-white {
  color: #FFFFFF; }

.bg-white {
  background: #FFFFFF; }

@media (min-width: 480px) {
  .margin-top-0-tablet {
    margin-top: 0; }
  .margin-top-1-tablet {
    margin-top: 1em; }
  .margin-top-2-tablet {
    margin-top: 2em; }
  .margin-top-3-tablet {
    margin-top: 3em; } }

.margin-bottom-half,
.margin-bottom-half-1 {
  margin-bottom: .5em; }

.margin-bottom-1 {
  margin-bottom: 1em; }

.margin-bottom-2 {
  margin-bottom: 2em; }

.margin-bottom-3 {
  margin-bottom: 3em; }

.margin-left-1-1 {
  margin-left: 1.5em; }

.margin-top-0 {
  margin-top: 0em; }

.margin-bottom-0 {
  margin-bottom: 0em; }

.margin-left-0 {
  margin-left: 0em; }

.margin-right-0 {
  margin-right: 0em; }

.margin-top-0-important {
  margin-top: 0em !important; }

.margin-bottom-0-important {
  margin-bottom: 0em !important; }

.margin-left-0-important {
  margin-left: 0em !important; }

.margin-right-0-important {
  margin-right: 0em !important; }

.margin-top-1 {
  margin-top: 1em; }

.margin-bottom-1 {
  margin-bottom: 1em; }

.margin-left-1 {
  margin-left: 1em; }

.margin-right-1 {
  margin-right: 1em; }

.margin-top-1-important {
  margin-top: 1em !important; }

.margin-bottom-1-important {
  margin-bottom: 1em !important; }

.margin-left-1-important {
  margin-left: 1em !important; }

.margin-right-1-important {
  margin-right: 1em !important; }

.margin-top-2 {
  margin-top: 2em; }

.margin-bottom-2 {
  margin-bottom: 2em; }

.margin-left-2 {
  margin-left: 2em; }

.margin-right-2 {
  margin-right: 2em; }

.margin-top-2-important {
  margin-top: 2em !important; }

.margin-bottom-2-important {
  margin-bottom: 2em !important; }

.margin-left-2-important {
  margin-left: 2em !important; }

.margin-right-2-important {
  margin-right: 2em !important; }

.margin-top-3 {
  margin-top: 3em; }

.margin-bottom-3 {
  margin-bottom: 3em; }

.margin-left-3 {
  margin-left: 3em; }

.margin-right-3 {
  margin-right: 3em; }

.margin-top-3-important {
  margin-top: 3em !important; }

.margin-bottom-3-important {
  margin-bottom: 3em !important; }

.margin-left-3-important {
  margin-left: 3em !important; }

.margin-right-3-important {
  margin-right: 3em !important; }

.margin-top-4 {
  margin-top: 4em; }

.margin-bottom-4 {
  margin-bottom: 4em; }

.margin-left-4 {
  margin-left: 4em; }

.margin-right-4 {
  margin-right: 4em; }

.margin-top-4-important {
  margin-top: 4em !important; }

.margin-bottom-4-important {
  margin-bottom: 4em !important; }

.margin-left-4-important {
  margin-left: 4em !important; }

.margin-right-4-important {
  margin-right: 4em !important; }

@media (min-width: 480px) {
  .margin-top-0-tablet-important {
    margin-top: 0em !important; }
  .margin-top-0-tablet {
    margin-top: 0em; }
  .margin-bottom-0-tablet {
    margin-bottom: 0em; }
  .margin-left-0-tablet {
    margin-left: 0em; }
  .margin-right-0-tablet {
    margin-right: 0em; }
  .margin-top-1-tablet-important {
    margin-top: 1em !important; }
  .margin-top-1-tablet {
    margin-top: 1em; }
  .margin-bottom-1-tablet {
    margin-bottom: 1em; }
  .margin-left-1-tablet {
    margin-left: 1em; }
  .margin-right-1-tablet {
    margin-right: 1em; }
  .margin-top-2-tablet-important {
    margin-top: 2em !important; }
  .margin-top-2-tablet {
    margin-top: 2em; }
  .margin-bottom-2-tablet {
    margin-bottom: 2em; }
  .margin-left-2-tablet {
    margin-left: 2em; }
  .margin-right-2-tablet {
    margin-right: 2em; }
  .margin-top-3-tablet-important {
    margin-top: 3em !important; }
  .margin-top-3-tablet {
    margin-top: 3em; }
  .margin-bottom-3-tablet {
    margin-bottom: 3em; }
  .margin-left-3-tablet {
    margin-left: 3em; }
  .margin-right-3-tablet {
    margin-right: 3em; }
  .margin-top-4-tablet-important {
    margin-top: 4em !important; }
  .margin-top-4-tablet {
    margin-top: 4em; }
  .margin-bottom-4-tablet {
    margin-bottom: 4em; }
  .margin-left-4-tablet {
    margin-left: 4em; }
  .margin-right-4-tablet {
    margin-right: 4em; } }

@media (min-width: 767px) {
  .margin-top-0-desktop {
    margin-top: 0em; }
  .margin-bottom-0-desktop {
    margin-bottom: 0em; }
  .margin-left-0-desktop {
    margin-left: 0em; }
  .margin-right-0-desktop {
    margin-right: 0em; }
  .margin-top-1-desktop {
    margin-top: 1em; }
  .margin-bottom-1-desktop {
    margin-bottom: 1em; }
  .margin-left-1-desktop {
    margin-left: 1em; }
  .margin-right-1-desktop {
    margin-right: 1em; }
  .margin-top-2-desktop {
    margin-top: 2em; }
  .margin-bottom-2-desktop {
    margin-bottom: 2em; }
  .margin-left-2-desktop {
    margin-left: 2em; }
  .margin-right-2-desktop {
    margin-right: 2em; }
  .margin-top-3-desktop {
    margin-top: 3em; }
  .margin-bottom-3-desktop {
    margin-bottom: 3em; }
  .margin-left-3-desktop {
    margin-left: 3em; }
  .margin-right-3-desktop {
    margin-right: 3em; }
  .margin-top-4-desktop {
    margin-top: 4em; }
  .margin-bottom-4-desktop {
    margin-bottom: 4em; }
  .margin-left-4-desktop {
    margin-left: 4em; }
  .margin-right-4-desktop {
    margin-right: 4em; }
  .margin-top-1-7-desktop {
    margin-top: 1.7em; }
  .margin-top-half-1-desktop {
    margin-top: .5em; }
  .margin-top-half-6-desktop {
    margin-top: .6em; } }

.padding-0 {
  padding: 0em; }

.padding-top-0 {
  padding-top: 0em; }

.padding-bottom-0 {
  padding-bottom: 0em; }

.padding-left-0 {
  padding-left: 0em; }

.padding-right-0 {
  padding-right: 0em; }

.padding-top-0-important {
  padding-top: 0em !important; }

.padding-bottom-0-important {
  padding-bottom: 0em !important; }

.padding-left-0-important {
  padding-left: 0em !important; }

.padding-right-0-important {
  padding-right: 0em !important; }

.padding-1 {
  padding: 1em; }

.padding-top-1 {
  padding-top: 1em; }

.padding-bottom-1 {
  padding-bottom: 1em; }

.padding-left-1 {
  padding-left: 1em; }

.padding-right-1 {
  padding-right: 1em; }

.padding-top-1-important {
  padding-top: 1em !important; }

.padding-bottom-1-important {
  padding-bottom: 1em !important; }

.padding-left-1-important {
  padding-left: 1em !important; }

.padding-right-1-important {
  padding-right: 1em !important; }

.padding-2 {
  padding: 2em; }

.padding-top-2 {
  padding-top: 2em; }

.padding-bottom-2 {
  padding-bottom: 2em; }

.padding-left-2 {
  padding-left: 2em; }

.padding-right-2 {
  padding-right: 2em; }

.padding-top-2-important {
  padding-top: 2em !important; }

.padding-bottom-2-important {
  padding-bottom: 2em !important; }

.padding-left-2-important {
  padding-left: 2em !important; }

.padding-right-2-important {
  padding-right: 2em !important; }

.padding-3 {
  padding: 3em; }

.padding-top-3 {
  padding-top: 3em; }

.padding-bottom-3 {
  padding-bottom: 3em; }

.padding-left-3 {
  padding-left: 3em; }

.padding-right-3 {
  padding-right: 3em; }

.padding-top-3-important {
  padding-top: 3em !important; }

.padding-bottom-3-important {
  padding-bottom: 3em !important; }

.padding-left-3-important {
  padding-left: 3em !important; }

.padding-right-3-important {
  padding-right: 3em !important; }

.padding-4 {
  padding: 4em; }

.padding-top-4 {
  padding-top: 4em; }

.padding-bottom-4 {
  padding-bottom: 4em; }

.padding-left-4 {
  padding-left: 4em; }

.padding-right-4 {
  padding-right: 4em; }

.padding-top-4-important {
  padding-top: 4em !important; }

.padding-bottom-4-important {
  padding-bottom: 4em !important; }

.padding-left-4-important {
  padding-left: 4em !important; }

.padding-right-4-important {
  padding-right: 4em !important; }

@media (min-width: 480px) {
  .padding-top-0-tablet {
    padding-top: 0em; }
  .padding-bottom-0-tablet {
    padding-bottom: 0em; }
  .padding-left-0-tablet {
    padding-left: 0em; }
  .padding-right-0-tablet {
    padding-right: 0em; }
  .padding-top-1-tablet {
    padding-top: 1em; }
  .padding-bottom-1-tablet {
    padding-bottom: 1em; }
  .padding-left-1-tablet {
    padding-left: 1em; }
  .padding-right-1-tablet {
    padding-right: 1em; }
  .padding-top-2-tablet {
    padding-top: 2em; }
  .padding-bottom-2-tablet {
    padding-bottom: 2em; }
  .padding-left-2-tablet {
    padding-left: 2em; }
  .padding-right-2-tablet {
    padding-right: 2em; }
  .padding-top-3-tablet {
    padding-top: 3em; }
  .padding-bottom-3-tablet {
    padding-bottom: 3em; }
  .padding-left-3-tablet {
    padding-left: 3em; }
  .padding-right-3-tablet {
    padding-right: 3em; }
  .padding-top-4-tablet {
    padding-top: 4em; }
  .padding-bottom-4-tablet {
    padding-bottom: 4em; }
  .padding-left-4-tablet {
    padding-left: 4em; }
  .padding-right-4-tablet {
    padding-right: 4em; } }

.padding-0 {
  padding: 0; }

.padding-half-1 {
  padding: .5em; }

.padding-1-half {
  padding: 1.5em; }

.padding-right-half-1 {
  padding-right: .5em; }

* {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif; }

h4 {
  line-height: 1.3em;
  margin: 15px 0 5px; }

.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label {
  transform: translate3d(0, -20px, 0);
  visibility: hidden; }

.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label:after {
  content: 'Password';
  visibility: visible;
  left: 0;
  transform: translate3d(0, -20px, 0);
  background: transparent;
  color: inherit;
  font-size: 12px;
  color: #9e9e9e; }

.mdl-textfield {
  width: 100%; }

.mdl-inline-expanded {
  margin-top: -6px; }

.mdl-textfield.mdl-textfield--expandable {
  width: auto !important; }

#map-canvas {
  min-height: 300px;
  height: 100%;
  width: 100%; }

.file_upload_container {
  margin: auto;
  width: 250px;
  height: 40px;
  position: absolute;
  top: 1em;
  left: 1em; }

.file_upload_btn {
  float: left; }

#file_upload_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px; }

.mdl-select .mdl-icon-toggle__label {
  float: right;
  margin-top: -30px;
  color: rgba(0, 0, 0, 0.4); }

.mdl-select.is-focused .mdl-icon-toggle__label {
  color: #3f51b5; }

.mdl-select .mdl-menu__container {
  width: 100% !important; }
  .mdl-select .mdl-menu__container .mdl-menu .mdl-menu__item {
    font-size: 16px; }

.mdl-select__fullwidth .mdl-menu {
  width: 100%; }

.mdl-list__item a {
  text-decoration: none; }

li.mdl-list__item {
  border-bottom: 1px solid #dddddd; }
  li.mdl-list__item:last-child {
    border: none; }

div.message {
  padding: 10px;
  padding-left: 35px;
  margin: 20px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: #BBB;
  color: #FFF;
  transition: all .5s ease;
  position: absolute;
  width: 300px;
  z-index: 9999;
  top: 0;
  left: 10px; }

div.message:hover {
  box-shadow: 0 15px 20px rgba(10, 0, 10, 0.3);
  -webkit-filter: brightness(110%); }

.status {
  position: absolute;
  display: block;
  top: -10px;
  left: -10px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  padding: 10px;
  background: inherit;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 50%; }

div.message.information {
  background: #39B; }

div.message.warning {
  background: #E74; }

div.message.success {
  background: #5A6; }

div.message.announcement {
  background: #EA0; }

div.message.error {
  background: #C43; }

.dismissible {
  cursor: pointer; }

table a {
  text-decoration: none; }

.table-responsive {
  width: 100%;
  overflow: hidden;
  overflow-x: auto; }
  .table-responsive .dataTables_wrapper > .mdl-grid {
    width: 98%; }

.search-white {
  color: #FFFFFF; }

.search-white input[type="search"],
.search-white input[type="search"]:active,
.search-white input[type="search"]:focus {
  border-color: #FFFFFF; }

.pagination .mdl-button.mdl-button--colored {
  color: #FFFFFF; }

.search-white input[type="search"]:focus {
  border-bottom: 3px solid #cccccc !important; }

div.material-table .hiddensearch,
div.material-table table.dataTable thead .sorting:before,
div.material-table table.dataTable thead .sorting_asc:before,
div.material-table table.dataTable thead .sorting_desc:before,
div.material-table table.dataTable thead .sorting_asc_disabled:before,
div.material-table table.dataTable thead .sorting_desc_disabled:before {
  display: none; }

div.material-table .table-header {
  height: 64px;
  padding-left: 24px;
  padding-right: 14px;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -webkit-display: flex;
  border-bottom: solid 1px #DDDDDD; }

div.material-table .table-header .actions {
  display: -webkit-flex;
  margin-left: auto; }

div.material-table .table-header .btn-flat {
  min-width: 36px;
  padding: 0 8px; }

div.material-table .table-header input {
  margin: 0;
  height: auto; }

div.material-table .table-header i {
  color: rgba(0, 0, 0, 0.54);
  font-size: 24px; }

div.material-table .table-footer {
  height: 56px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 4px;
  padding-right: 14px; }

div.material-table .table-footer .dataTables_length {
  display: -ms-flexbox;
  display: flex; }

div.material-table .table-footer label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

div.material-table .table-footer .select-wrapper {
  display: -ms-flexbox;
  display: flex;
  /* works with row or column */
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

div.material-table .table-footer .dataTables_info,
div.material-table .table-footer .dataTables_length {
  margin-right: 32px; }

div.material-table .table-footer .material-pagination {
  display: -ms-flexbox;
  display: flex;
  -webkit-display: flex;
  margin: 0; }

div.material-table .table-footer .material-pagination li:first-child {
  margin-right: 24px; }

div.material-table .table-footer .material-pagination li a {
  color: rgba(0, 0, 0, 0.54); }

div.material-table .table-footer .select-wrapper input.select-dropdown {
  margin: 0;
  border-bottom: none;
  height: auto;
  line-height: normal;
  font-size: 12px;
  width: 40px;
  text-align: right; }

div.material-table .table-footer select {
  background-color: transparent;
  width: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: auto;
  margin-left: 20px; }

div.material-table .table-title {
  font-size: 20px;
  color: black; }

div.material-table table tr td a {
  color: inherit; }

div.material-table table tr td a i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54); }

div.material-table table tr {
  font-size: 12px; }

div.material-table table th {
  font-size: 12px;
  font-weight: 500;
  color: #757575;
  cursor: pointer;
  white-space: nowrap;
  padding: 12px 18px;
  height: 56px;
  vertical-align: middle;
  outline: none !important; }

div.material-table table th.sorting_asc,
div.material-table table th.sorting_desc {
  color: rgba(0, 0, 0, 0.87); }

div.material-table table th.sorting:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  content: "arrow_back";
  -webkit-transform: rotate(90deg);
  display: none;
  vertical-align: middle; }

div.material-table table th.sorting:hover:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
  display: inline-block; }

div.material-table table th.sorting_desc:after {
  content: "arrow_forward"; }

div.material-table table tbody tr:hover {
  background-color: #EEE; }

div.material-table table th:first-child,
div.material-table table td:first-child {
  padding: 0 0 0 24px; }

div.material-table table th:last-child,
div.material-table table td:last-child {
  padding: 0 14px 0 0; }

.material-pagination {
  list-style-type: none;
  line-height: 1; }

.material-table div.dataTables_wrapper div.dataTables_info {
  padding-top: 0; }

div.material-table .table-footer select {
  margin-top: 1px;
  margin-left: 5px !important;
  margin-right: -10px;
  color: #9b9b9b !important; }

.mdl-data-table {
  border: none; }

::-webkit-input-placeholder {
  color: #eeeeee; }

::-moz-placeholder {
  color: #eeeeee; }

:-ms-input-placeholder {
  color: #eeeeee; }

:-moz-placeholder {
  color: #eeeeee; }

.material-table .pagination .mdl-button {
  border: none;
  font-weight: 400;
  margin: 0 5px 0 0;
  min-width: auto;
  height: 30px;
  width: 30px;
  padding: 0;
  line-height: 1.2;
  color: #9b9b9b;
  font-size: .99em; }

.material-table .pagination .mdl-button.mdl-button--colored {
  background: none;
  border-bottom: 3px solid #9b9b9b;
  box-shadow: none;
  border-radius: 0;
  color: black;
  margin-bottom: -2px; }

.mdl-button.next:before,
.mdl-button.previous:before,
.mdl-button.first:before,
.mdl-button.last:before {
  height: 30px;
  width: 30px;
  display: block;
  position: relative;
  color: #9b9b9b;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }

.mdl-button.next:before {
  content: "chevron_right"; }

.mdl-button.previous:before {
  content: "chevron_left"; }

.mdl-button.first:before {
  content: "first_page"; }

.mdl-button.last:before {
  content: "last_page"; }

.mdl-button.first.disabled:before,
.mdl-button.last.disabled:before,
.mdl-button.previous.disabled:before,
.mdl-button.next.disabled:before {
  color: #e0e0e0 !important; }

@media (max-width: 600px) {
  div.material-table .table-footer .dataTables_info {
    width: 40% !important;
    display: block !important;
    float: left;
    margin: 1em 0 !important;
    text-align: center !important; }
  div.material-table .table-footer .dataTables_length {
    width: 60% !important;
    display: block !important;
    float: left;
    margin: 1em 0  0 !important;
    text-align: center !important; }
  div.dataTables_wrapper div.dataTables_paginate {
    width: 100% !important;
    display: block !important;
    text-align: center !important;
    margin: 0 auto 1.5em;
    float: left; }
  div.material-table .table-footer {
    display: block !important; } }

div.material-table table thead tr th {
  text-align: left;
  padding: 0em .5em; }

div.material-table table tbody tr td {
  padding: 1em .5em;
  text-align: left; }

.no-sort::after {
  display: none !important; }

.dataTables_empty {
  padding: 1em !important;
  text-align: center !important; }

.table-striped tr.odd,
.striped-table tr.odd {
  background: rgba(0, 0, 0, 0.1) !important; }

div.material-table table th.sorting:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
  position: absolute;
  margin: -7px 0 0 5px;
  font-size: 16px; }

.dark-table div.material-table table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default; }

.dark-table .mdl-checkbox__box-outline {
  border: 2px solid white; }

.dark-table .material-table .pagination .mdl-button.mdl-button--colored,
.dark-table div.material-table .table-footer label,
.dark-table div.material-table .table-footer select,
.dark-table div.material-table .table-footer {
  color: inherit !important; }

.mdl-button .mdl-spinner {
  top: 5px;
  left: 45%;
  position: absolute; }

.mdl-spinner--single-color.mdl-color-white .mdl-spinner__layer-1,
.mdl-spinner--single-color.mdl-color-white .mdl-spinner__layer-2,
.mdl-spinner--single-color.mdl-color-white .mdl-spinner__layer-2,
.mdl-spinner--single-color.mdl-color-white .mdl-spinner__layer-4 {
  border-color: #FFFFFF; }

.mdl-card.demo-card-wide {
  width: 512px; }

.mdl-card.demo-card-xwide {
  width: 767px; }

.mdl-card.demo-card-full {
  width: 100%; }
  .mdl-card.demo-card-full .mdl-card__supporting-text {
    width: auto; }

.card-wide.mdl-card {
  width: 512px;
  margin: 0 auto; }

.card-wide > .mdl-card__title {
  color: #fff;
  height: 192px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/welcome_card_tuts.png") center/cover; }

.card-wide > .mdl-card__menu {
  color: #fff; }

.mdl-user-avatar {
  position: absolute;
  width: 100%;
  top: 36px; }

.mdl-user-avatar img {
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  display: block;
  height: 100px;
  width: 100px; }

.mdl-title-username {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.1em !important;
  margin: 0px 0 5px 0; }

@media (min-width: 840px) {
  .mdl-grid.full-grid {
    width: 99%; } }

.card-image.mdl-card {
  width: 100%; }

.card-image > .mdl-card__actions {
  padding: 1em 1em 0;
  z-index: 1; }

.mdl-card__supporting-text {
  width: auto; }

.mdl-card__actions .mdl-button {
  min-width: auto; }

.mdl-dialog {
  position: relative; }
  .mdl-dialog .mdl-dialog__title {
    font-size: 1.5em; }
  .mdl-dialog .mdl-dialog__actions > * {
    height: auto !important; }
  @media (min-width: 767px) {
    .mdl-dialog {
      width: 450px; } }

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.social-list {
  text-align: center;
  font-size: 0;
  margin: 0 auto;
  padding: 0; }
  .social-list li {
    display: inline-block;
    margin-right: 3%;
    width: 50px;
    height: 50px;
    position: relative; }
  .social-list li > a > svg {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    fill: black;
    transition: 0.15s;
    fill: #9e9e9e !important; }

.breadcrumb {
  width: 100%;
  padding: 1em 3em; }
  .breadcrumb ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .breadcrumb ul li {
      padding: 0;
      margin: 0;
      line-height: 1;
      display: inline-block; }
      .breadcrumb ul li.active a {
        pointer-events: none;
        cursor: default;
        color: black; }
  .breadcrumb a {
    text-decoration: none; }
  .breadcrumb .material-icons {
    padding: 0 10px;
    color: #E9A7A1;
    line-height: 1;
    vertical-align: -6px; }

.badge {
  padding: 2px 4px 1px;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.mdl-layout__drawer .mdl-badge[data-badge]:after {
  background: rgba(0, 0, 0, 0.7); }

.mdl-selectfield {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0; }

.mdl-selectfield--align-right {
  text-align: right; }

.mdl-selectfield--full-width {
  width: 100%; }

.mdl-selectfield__select {
  display: block;
  width: 100%;
  padding: 4px 0;
  margin: 0;
  color: inherit;
  background: transparent;
  font-size: 16px;
  text-align: left;
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.mdl-layout .mdl-tabs .mdl-tabs__panel:not(.is-active) {
  display: none; }

.mdl-tabs .mdl-tabs__panel {
  min-height: 50px; }

.mdl-tabs__tab-bar {
  margin: 0 .55em 1em;
  display: block; }

.mdl-layout.mdl-auth-form {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .mdl-layout.mdl-auth-form .mdl-layout__content {
    margin-top: 12%;
    padding: .5em; }

.dashboard-logo {
  height: 64px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize; }
  .dashboard-logo i {
    margin: 0 5px; }

body .logo-style {
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 300;
  font-size: 18px;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize; }
  body .logo-style i {
    margin: 0 5px; }

.mdl-list__item-avatar,
.mdl-list__item-avatar.material-icons {
  height: 100px;
  width: 100px;
  background-color: transparent;
  margin: 5px auto;
  font-size: 100px; }

/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px; }

.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px; }

.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px; }

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54); }

.mdl-layout__drawer .avatar {
  margin-bottom: 16px; }

.demo-drawer {
  border: none; }

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1; }

.demo-drawer .demo-navigation {
  z-index: -2; }

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.demo-drawer-header {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px; }

.demo-avatar-dropdown {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.demo-navigation {
  -ms-flex-positive: 1;
  flex-grow: 1; }

.demo-layout .demo-navigation .mdl-navigation__link {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500; }

.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F; }

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px; }

.demo-content {
  max-width: 1080px; }

.demo-charts {
  -ms-flex-align: center;
  align-items: center; }

.demo-chart:nth-child(1) {
  color: #ACEC00; }

.demo-chart:nth-child(2) {
  color: #00BBD6; }

.demo-chart:nth-child(3) {
  color: #BA65C9; }

.demo-chart:nth-child(4) {
  color: #EF3C79; }

.demo-graphs {
  padding: 16px 32px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: stretch;
  align-items: stretch; }

/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px; }

_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px; }

/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8; }

.demo-graph:nth-child(2) {
  color: #d9006e; }

.demo-cards {
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.demo-cards .demo-separator {
  height: 32px; }

.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400; }

.demo-cards ul {
  padding: 0; }

.demo-cards h3 {
  font-size: 1em; }

.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url("/images/dashboard/dog.png");
  background-position: 90% 100%;
  background-repeat: no-repeat; }

.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none; }

.demo-options h3 {
  margin: 0; }

.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89); }

.demo-options ul {
  margin: 0;
  list-style-type: none; }

.demo-options li {
  margin: 4px 0; }

.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89); }

.demo-options .mdl-card__actions {
  height: 64px;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -ms-flex-align: center;
  align-items: center; }

/*# sourceMappingURL=app.css.map */
