// COLORS
$white:						#FFFFFF;

// THEME COLORS (FOR CONSISTENCY)
$theme_color0:				transparent;
$theme_color1:				$white;

// BREAKPOINTS
$phone:      				480px;
$tablet:      				767px;
$desktop:      				921px;

// DYNAMIC VARIABLES
$num-of-helper-classes:     4;

// BORDER RADIUS'
$standard-border-radius:	2px;

// TRANSITIONS
$default-trans-speed:		0.3s;